player-connection-mode=Listen
player-connection-guid=294631548
player-connection-debug=0
player-connection-project-name=AR Wizard
player-connection-ip=192.168.50.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5ec14a1ebc1947b180b49010857f8b1a
